/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --accent-title-color: #db00ff;
  --title-color: #000028;
  --accent-color: #ff0070;
  --accent-color-subtitle: #ff0070;
  --color-text: #f1b2ce;
  --main-font: 400;
  --accent-font: 700;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color, #ff0070);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(---accent-color, #ff0070);
}

.theme_dark .decorated-zone::before {
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.theme_dark .decorated-zone::after {
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}
