/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

.page.theme_light {
  --bg-color: #fff1f7;
  --accent-title-color: #ffc2e6;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-subtitle: #353430;
  --color-text: #353430;
  --main-font: 400;
  --accent-font: 700;

  background-image: url(../images/cover-image-light.png);
}

.theme_light .pseudo-element {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--title-color, #353430);
}

.theme_light .header__theme-menu-button {
  color: var(--title-color, #353430);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
  cursor: pointer;
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-color, #353430);
}

.theme_light .decorated-zone::before {
  border-block-start: 1px solid var(--title-color, #353430);
  border-inline-end: 1px solid var(--title-color, #353430);
}

.theme_light .decorated-zone::after {
  border-block-end: 1px solid var(--title-color, #353430);
  border-inline-start: 1px solid var(--title-color, #353430);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-title-color: #ffc2e6;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-subtitle: #353430;
    --color-text: #353430;
    --main-font: 400;
    --accent-font: 700;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .pseudo-element {
    display: none;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--title-color, #353430);
  }

  .header__theme-menu-button {
    color: var(--title-color, #353430);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--title-color, #353430);
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--title-color, #353430);
    border-inline-end: 1px solid var(--title-color, #353430);
  }

  .decorated-zone::after {
    border-block-end: 1px solid var(--title-color, #353430);
    border-inline-start: 1px solid var(--title-color, #353430);
  }
}
